<h1>Welcome To {{ title }}</h1>
<p>
  I developed a real-time chat application using Angular and Socket.IO, with a
  focus on user authentication and security. The app supports multiple chat
  rooms, allowing users to create accounts, securely log in using JWT tokens,
  and interact in various chat rooms. User passwords are hashed with bcrypt for
  added security. This project demonstrates my ability to build dynamic,
  real-time applications with secure authentication workflows and scalable
  architecture.
</p>
