<app-form form>
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div
      class="field"
      [ngClass]="registerForm.get('username')?.errors?.['serverError']?'error':''"
    >
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" required />
      @if(registerForm.get('username')?.errors?.['serverError'] &&
      registerForm.get('username')?.touched) {
      <span>
        <p>{{ registerForm.get('username')?.errors?.['serverError'] }}</p>
      </span>
      }
    </div>
    <div class="field">
      <div>
        <label for="password">Password</label>
      </div>
      <input
        type="password"
        id="password"
        formControlName="password"
        required
      />
    </div>
    <div class="field">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        required
      />
    </div>
    <button type="submit" class="primary">Register</button>
  </form>
</app-form>
